<div class="col-12 col-lg-6">
  <div class="jumbotron mt-3">
    <h1 class="display-4">Welcome, Blue Foxes!</h1>
    <p class="lead">This is a simple workflow demo. There is nothing behind this login.</p>
    <hr class="my-4">
    <p>We are using this project to introduce you to how developers might work on their codebase in a collaborative manner.</p>
    <a class="btn btn-dark btn-lg" href="https://medium.com/chialab-open-source/how-to-achieve-optimal-workflow-for-software-development-as-a-team-ed0a1646fc22" role="button">Learn more</a>
  </div>
</div>