<div class="col-12 col-lg-6 mt-lg-5">
  <h1 class="display-5 text-light">Login</h1>
  <form class="mt-3" onsubmit="roll()">
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-light">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-light">It's good to see you.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="text-light">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label text-light" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>