body {
  background-color: #add8e6;
}

.jumbotron {
  background-image: url('/public/gfalogo.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-blend-mode: multiply;
  background-size: 25%;
}